.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 22px;
  color: white;

  &--green {
    background-color: green;
  }

  &--red {
    background-color: red;
  }
}
